
:root {
    --green: #95d5b2;
    --dark-green: #4c956c;
}

/*
*   General Styles
***********************/

* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.width {
    padding: 0 10%;
}

/*
*   Section Styles
***********************/

.section {

}

.section__headline {
    margin-bottom: 1rem;
    font-size: 1.35rem;
}


/*
*   Header Styles
***********************/

.header {

}


/*
*   Topbar Styles
***********************/

.topbar {
    height: 75px;
    display: flex;
    align-items: center;
}


/*
*   Brand Styles
***********************/

.brand {

}

.brand__logo {

}

.brand__logo img {
    height: 20px;
}

/*
*   Menu Styles
***********************/

.main_menu {
    margin-left: auto;
}

.main_menu__link {
    font-size: 0.9rem;
    font-weight: 600;
}

.main_menu__link:nth-child(1n+2) {
    margin-left: 2rem;
}

.sub-bar {
    display: flex;
    margin: 1rem 10% 2rem 10%;
    align-items: center;
}

.category_menu {
    display: flex;
}

.category_menu__link {
    border: 1px solid #bdbdbd;
    border-radius: 19px;
    padding: 1rem;
    font-size: 0.9rem;
}

.category_menu__link:hover {
    background-color: var(--green);
    border: 1px solid var(--green);
}

.category_menu__link:nth-child(1n+2) {
    margin-left: 1rem;
}

.search-form span {
    margin-left: 1rem;
}

.search-form span {
    font-size: 1.5rem;
}

/*
*   Main Styles
***********************/

.main {
    flex: 1;
}

.article {
    width: calc((100% / 3) - 1rem);
}

/*
*   Body Styles
***********************/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
}

.footer__copyright {
    width: 100%;
    padding: 3rem 0 2rem 0;
    border-bottom: 1px solid #bdbdbd;
    text-align: center;
    font-weight: 600;
    font-size: 0.9rem;
}

.footer__nav {
    padding: 2rem 0 3rem 0;
}

.footer .nav__link {
    padding: 1rem;
    font-size: 0.85rem;
}