/*
*   Grid Styles
***********************/

.grid {
    display: flex;
    flex-wrap: wrap;
}

/*
*   Card Styles
***********************/

.card {
    
}

.card-content {
    padding: 0.5rem 0.75rem;
}

.card-image {
    border-radius: 19px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
}

.card__title {
    font-size: 1.15rem;
    font-weight: 600;
}

.card__category {
    margin-bottom: 0.25rem;
}

.card__category a {
    font-size: 0.85rem;
    text-transform: uppercase;
    color: var(--dark-green);
    font-weight: 600;
}


@media screen and (min-width: 1100px) {

    .article {
        margin-left: 1.5rem;
    }

    .article:nth-child(3n+1) {
        margin-left: 0;
    }

}