/*
*   Grid Styles
***********************/

.grid {
    display: flex;
    flex-wrap: wrap;

}

/*
*   Featured Styles
***********************/

.featured {
    margin-bottom: 8rem;
}

.featured .article {
    width: 100%;
    margin: 0;
    padding: 2rem;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
}

.featured .article .card {
    display: flex;
    flex-direction: row;
}

.featured .card-image {
    width: 50%;
}

.featured .card__title {
    font-size: 2.5rem;
    color: black;
}

.card__description {
    color: black;
    margin: 0.5rem 0;
}

.featured .card-image img {
    height: 500px;
}

.featured .card-content {
    width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured .readmore {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.readmore a {
    border: 1px solid black;
    padding: 0.75rem 1.5rem;
    color: black;
    font-size: 0.95rem;
    font-weight: 600;
}

.readmore a:hover {
    background-color: black;
    color: white;
}

/*
*   Card Styles
***********************/

.articles .card-content {

}

.articles .article {
    padding: 1.25rem;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
}

.card-content {
    position: relative;
    padding: 0.5rem 0;
}

.card-image {
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 300px;
}

.card__title {
    font-size: 1.3rem;
    font-weight: 600;
    color: black; 
}

.card__title:hover {
    color: black;
}

.card__trivia {
    display: flex;
}

.card__category a {
    font-weight: 600;
    padding-right: 0.25rem;
}

.card__category a:hover {
    color: black;
}

.card__time {
    display: flex;
    align-items: center;
    margin-left: 0.25rem;
}

.card__category a,
.card__time {
    font-size: 0.85rem;
    font-weight: 600;
    color: #5e697e;
}

.nav-toggle {
    display: none;
}

/*
*   Media Styles
***********************/

@media screen and (min-width: 1100px) {

    .article {
        margin-left: 3rem;
    }

    .article:nth-child(3n+1) {
        margin-left: 0;
    }

    .article:nth-child(1n+4) {
        margin-top: 3rem;
    }

}


@media screen and (min-width: 601px) and (max-width: 1099px) {

    .main {
        margin-top: 100px;
    }

    .article {
        width: calc((100%/2) - 0.75rem)!important;
        margin-left: 1.5rem;
    }

    .featured .article {
        width: 100%!important;
    }    

    .article:nth-child(2n+1) {
        margin-left: 0;
    }

    .article:nth-child(1n+4) {
        margin-top: 0rem;
    }

    .article:nth-child(1n+3) {
        margin-top: 3rem;
    }

    .featured .article .card-image img {
        height: 350px;
    }

}

@media screen and (max-width: 600px) {

    .hero {
        margin: 2rem 5%;
    }

    .main {
        margin-top: 100px;
    }

    .featured .article .card {
        flex-direction: column;
    }

    .featured .card-content,
    .featured .card-image {
        width: 100%;
    }

    .featured .card-image img {
        height: 300px;
    }

    .featured .card-content {
        padding: 2rem 1rem;
    }

    .article {
        width: calc((100%/1))!important;
        margin-left: 0rem;
    }

    .article:nth-child(2n+1) {
        margin-left: 0;
    }

    .article:nth-child(1n+3) {
        margin-top: 0rem;
    }

    .article:nth-child(1n+2) {
        margin-top: 3rem;
    }

    .featured .article:nth-child(1n+2) {
        margin-top: 0;
    }

    .card-image img {
        height: 300px;
    }

    .featured .card__title {
        font-size: 1.3rem;
    }

}


